@use '../util' as *;

.app {
    position: absolute;
    margin-top: rem(100);
    width: 90%;

    @include breakpoint(medium) {
        width: 40%;
    }

    &__header {}

    .item {
        display: flex;
        align-items: center;
        background-color: var(--task-bg);
        padding: rem(5) rem(20);
        min-height: rem(50);
    }

    &__main {
        // cursor: pointer;

        .task {
            border-bottom: 1px solid var(--task-border);
            color: var(--text-active);

            &:hover {
                .delete_btn {
                    opacity: 1;
                }
            }

            &.completed {
                text-decoration: line-through;
                color: var(--text-inactive);
            }

            p {
                flex-grow: 1;
            }

            .delete_btn {
                float: right;
                margin-left: auto;
                position: relative;

                @include breakpoint(medium) {
                    opacity: 0;
                }

                &:before {
                    content: url('/images/icon-cross.svg');
                    position: absolute;
                    top: rem(-10);
                    right: 0;
                }
            }

        }

        #add_task {
            margin-bottom: rem(15);


            input[type="text"] {
                width: 100%;
                background-color: var(--task-bg);
                color: var(--text-active);
                font-family: inherit;
                font-size: inherit;

            }
        }


    }

    &__footer {
        height: rem(50);
        background-color: var(--task-bg);
        font-size: rem(17);
        font-family: inherit;
        padding: 0 rem(20);
        color: var(--text-inactive);
        margin-bottom: rem(15);

        .items_count {
            font-size: rem(13);
        }

        .clear_btn {
            color: var(--text-inactive);

            &:hover {
                color: var(--text-active);
            }
        }
    }
    &__filters {
        a {
            color: var(--text-inactive);

            &:hover {
                color: var(--text-active);
            }
            
            &:focus {
                color: var(--bright-blue)

            }
            
            &:not(:last-child) {
                margin-right: rem(15);
            }
        }
    }


    .tip {
        text-align: center;
        color: var(--text-inactive);
        margin: rem(50) 0;

    }

}
